.menu-img {
  border-radius: 9999px;
  height: 2.5rem;
  width: 2.5rem;
  &.plus {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.menu-item,
mat-option {
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;

  .menu-item-inner {
    margin-left: 15px;
  }
}

.menuItems {
  min-width: max-content;
  max-width: 270px;
  height: 56px;
  border-radius: .375rem;
  mat-icon {
    margin-right: 0;
    margin-left: auto;
  }
}

.cdk-overlay-container .mat-menu-content {
  padding: 0;
}

